/*First screen*/

  /*#00b2e6; blue color from PDF*/
  /*#FFB1B8; pink color from PDF*/

h1 {
  font-family: 'Plaax 1 Sathonay';
  font-size: 24vw;
  font-weight: normal;
  line-height: 0.7;
  margin-top: 15%;
  margin-bottom: 0;
  padding: 0;
  text-transform: uppercase;
}

#bastien, #chloe {
  margin-top: 0%;
  font-family: 'DTL Fleischmann Display';
  font-size: 3vw;
  font-weight: normal;
  font-style: italic;
  transition-duration: 4s;
  opacity: 0;
}

#bastien {
  margin-left: 23vw;
}

#chloe {
  margin-left: 42vw;
}

#title {
  position: fixed;
  transition-duration: 1s;
  background-color: white;
}

.first {
  height: 90%;
  width: 100%;
}

.blue-font {
  color: #00b2e6;
}

.pink-font {
  color: #FFB1B8;
}


nav {
  font-family: 'Maax Mono';
  text-align: right;
  font-size: 20;
}

a {
  text-decoration: none;
  color: black;
}

nav a:hover {
  text-decoration: underline;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 50px solid black;
}

.first-down {
  height: 10%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

p {
  font-size: 2.25vw;
  font-family: "Plaax 6 Trial";
}

#description {
  height: 80%;
  padding-top: 15vw;
  padding-right: 50vw;
  background-color: rgb(246, 246, 246);
}

.underline {
  text-decoration: underline;
}

